bower_components/
node_modules/
.pulp-cache/
.psci_modules/
output/
output-es/
.purs*
.psa*
.psc*
.spago
/PureScript/ssr.js
/PureScript/dist/
/PureScript/src/scratch/
/PureScript/src/Parser/Template.purs
/generated-docs/
/cache/
/static/
/rendered/
/assets/json/
/assets/ps/*
/dist-newstyle/
*.o
*.hi
