@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,600;1,600&family=Fira+Code:wght@300;400;700&family=Oswald:wght@200..700&family=Sofia&display=swap');

body {
  font-size: 18px;
  background: #043147;
  color: #f0e8d4;
  font-family: "Cormorant";
}
body, .parse-table > thead > tr > th:not(:first-child) {
  background: #043147;
}
::selection {
  background-color: rgb(3 182 140 / 46%);
  color: white;
  text-shadow: none;
}
.keyword {
  font-family: "Sofia";
  color: #918b8e;
}
.keyword, .terminal, .meta, .cmd, .non-terminal, .rule, .state {
  line-height: 1em;
}
.terminal {
  font-weight: bolder;
  font-family: "Fira Code";
  color: #c2d3d3;
}
.terminal:not(:last-child) {
  letter-spacing: 1.5px;
}
.meta {
  font-family: "Oswald";
  font-weight: 300;
  color: #7a6565;
  font-size: 1em;
  line-height: 1em;
  margin: 0 calc(0.1em + 1.5px) 0 0.1em;
}
.cmd {
  color: #cc82a9;
  font-weight: 600;
  font-family: "Cormorant";
  font-style: italic;
}
.non-terminal, .rule {
  font-family: "Oswald";
  font-weight: 200;
  color: #47cf6e;
  margin: 0 3.5px 0 2px;
}
.rule {
  font-weight: 400;
  color: #2c9f9b;
}
.state {
  font-family: "Cormorant";
  font-variant-numeric: lining-nums tabular-nums;
  color: #ccb11c;
}

.stack .meta, .stack .rule, .stack > .terminal {
  margin: 0;
  letter-spacing: normal;
}
.stack > sub {
  margin: 0 1px;
}
.layer .rule, .layer .meta {
  margin: 0;
}
.zipper > .parsed:not(:last-child) > * {
  /*color: black;*/
  opacity: 0.45;
}
.zipper > .parsed {
  --line-height: 1.35ex;
  --line-height: 2.8ex;
  --line-color: #7a6565;
  background-image: linear-gradient(transparent calc(var(--line-height) - 1px),var(--line-color) calc(var(--line-height) - 1px),var(--line-color) calc(var(--line-height) + 1px),transparent calc(var(--line-height) + 1px));
  /**/
}
.zipper > .parsed:last-child {
  /*color: #575a5e;/**/
  /*--line-color: #1f4f4c;/**/
}
.zipper > :not(.parsed) {
  /*
  --line-height: 2.8ex;
  --line-color: #80a8a8;
  background-image: linear-gradient(transparent calc(var(--line-height) - 1px),var(--line-color) calc(var(--line-height) - 1px),var(--line-color) calc(var(--line-height) + 1px),transparent calc(var(--line-height) + 1px));
  /**/
}
td > .zipper {
  width: 100%;
  display: inline-block;
}
.zipper:hover > :not(.parsed) > :first-child {
  outline: 1px solid cyan;
}
.zipper:hover > .parsed:last-child {
  outline: 1px solid #00a42f;
}
.zipper > :not(.parsed)::before {
  content: "•";
  font-family: "Fira Code";
  line-height: 1em;
  color: cyan;
}
.zipper.reducible::after {
  content: "•";
  font-family: "Fira Code";
  line-height: 1em;
  color: #ce4e7a;
}
.reducible > .terminal {
  color: #ce4e7a;
}
/*
.zipper > .parsed::after, .cursor {
  content: "";
  border-right: 2px solid #0757b0;
  border-color: #444;
  margin-left: -1px;
  margin-right: -1px;
  animation: blink 2s infinite;
}
/**/
@keyframes blink {
  from {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.zipper .parsed:not(:last-child) .terminal, .zipper .parsed:not(:last-child) .non-terminal {
  /*color: inherit;/**/
}
.lookahead {
  margin-left: 1em;
  opacity: 0.8;
}
table.grammar td:last-child {
  padding-left: 1em;
}
.state-table tbody tr th {
  text-align: right;
  padding-right: 1em;
}
.state-table tbody tr td:last-child {
  padding-left: 1em;
}
.state-table tbody tr:last-child td {
  border-bottom: 1px solid #afafafc2;
}
.state-table tbody tr:first-child th:first-child {
  vertical-align: top;
}
.state-table tbody tr:first-child:not(:last-child) th:first-child .state {
  position: sticky;
  top: 0;
}
.parse-table {
  border-collapse: separate;
  border-spacing: 0;
  /*border-collapse: collapse;/**/
}
.parse-table th {
  font-weight: inherit;
}
.parse-table colgroup:last-of-type col:first-child {
  border-left: 1px solid #afafafc2;
}
.parse-table > thead {
  position: sticky;
  top: -1px;
}
.parse-table > thead > tr > th:nth-child(2) {
  border-left: 1px solid transparent;
}
.parse-table > thead > tr > th:last-child {
  border-right: 1px solid transparent;
}
.parse-table thead th:not(:first-child), .parse-table tr:last-child td:not(:first-child) {
  border-bottom: 1px solid #afafafc2;
}
.parse-table tbody tr th:first-child {
  text-align: right;
  padding: 0 0.5em;
  border-right: 1px solid #afafafc2;
}
.parse-table tbody tr td:last-child {
  border-right: 1px solid #afafafc2;
}
.parse-table tbody td {
  text-align: left;
}
.parse-table td {
  padding: 0 0.75em;
}
