@use "sass:color"
@use "variables.sass" as *
@use "functions.sass" as *

$background-color: #043147
@if $highcontrast
  $background-color: #021119
$background-image: null
$text: #f0e8d4
$text2: #faffe5
$stark: white
$selection: rgb(3 182 140)

@if $light
  @if not $highcontrast
    $background-color: #fcf4e6
    // $background-image: url("../assets/images/circle_texture.png") 0 0 / 150px 150px
  @else
    $background-color: white
  $text: #210b06
  $text2: #390c03
  $stark: black
  $selection: rgb(140 222 202)

$background: $background-color
@if $background-image
  /* the transparent linear-gradient masks the background image so it is not targeted by longpressing on iOS */
  $background: linear-gradient(transparent, transparent), $background-color $background-image

body
  background: $background
  color: $text
  @if $highcontrast
    color: $stark
  section .full-width
    /* good nuff, eh? */
    background: $background


h2, h3, h4, h5
  color: $text2
  @if $highcontrast
    color: $stark

h3
  border-bottom-color: $text

hr
  border: none
  border-bottom: 1px solid $text
  opacity: 0.6

// TODO: abstraction
code
  @if not $light
    background-color: #0005
    box-shadow: 0.5px 0.5px 3px #fff2, 0.5px 0.5px 2px inset #0001
    a[href] > &
      box-shadow: 0.5px 0.5px 1px rgba(15, 232, 21, 0.26), 0.5px 0.5px 3px rgba(15, 232, 21, 0.26), 0.5px 0.5px 2px inset rgba(0, 0, 0, 0.07)
    a[href]:hover > &
      box-shadow: 0.5px 0.5px 1px rgba(15, 232, 21, 0.26), 0.5px 0.5px 3px rgba(15, 232, 21, 0.50), 0.5px 0.5px 2px inset rgba(0, 0, 0, 0.07)
  @else
    background-color: #fff5
    box-shadow: 0.5px 0.5px 3px #0002, 0.5px 0.5px 2px inset rgb(224 249 255 / 35%)
    a[href] > &
      box-shadow: 0.5px 0.5px 3px rgba(0, 2, 155, 0.39), 0.5px 0.5px 2px inset rgba(224, 249, 255, 0.35)
    a[href]:hover > &
      box-shadow: 0.5px 0.5px 3px #35d62dd0, 0.5px 0.5px 2px inset rgb(224 249 255 / 35%)
pre > code
  @if not $light
    background-color: #00000070
  @else
    background-color: #fff8eb5e
  & > code
    background: none
    box-shadow: none
nav code, nav a[href] > code, nav a[href]:hover > code
  box-shadow: none

@if not $highcontrast
  @media (hover: hover) and (pointer: fine)
    .opacity-hover-container .opacity-hover-child
      transition: opacity 0.5s, filter 0.8s
      /*opacity: 1*/
      filter: grayscale(0)
    .opacity-hover-container:not(:hover) .opacity-hover-child
      /*opacity: 0.75*/
      filter: grayscale(0.7)


mjx-container[jax="CHTML"], .katex, span.katex
  //color: #dfdae9;

mjx-container[jax="CHTML"][display="true"], .katex
  max-width: 100%
  overflow-x: scroll


// Selection colors (and styles)
::selection
  //background-color: #a2056175;
  background-color: rgb(3 182 140 / 46%)
  @if $light
    background-color: rgb(140 222 202 / 46%)

  color: $stark
  // Huh, not required for SVG text in Firefox
  fill: $stark
  text-shadow: none

a[href]::selection, a[href] ::selection
  text-decoration-line: underline
  //color: #3feef0;
  color: #35d62d
  fill: #35d62d
  @if $light
    color: #31ba2a
    fill: #31ba2a


.stark
  color: $stark


// Box colors
.Box
  @include whether("details", "& > summary", "&::before")
    background: $background
    @media print
      background: white


.Box > .Box
  margin: 10px


$transition: 0.4s

@mixin Box($color)
  @extend .Box
  $keyframe: unique-id()
  transition: border-image $transition
  border-color: color.change($color, $alpha: 0.5)
  border-image-source: radial-gradient(ellipse at 50% 50%, color.change($color, $alpha: 0.3), color.change($color, $alpha: 0.5))
  @include whether("details", "&[open]:hover", "&:hover")
    border-image-source: radial-gradient(ellipse at 50% 50%, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
    //animation: $keyframe 8s $transition linear infinite;
    //border-color: color.change($color, $alpha: 0.87);
  @include unify-parent("details:not([open])")
    border-image: none
    border-bottom-style: dashed
    box-shadow: 0px -1px 2px inset color.change($color, $alpha: 0.25)

  @include whether("details", "& > summary", "&::before")
    color: $color
  @include unify-parent(("details": "& > summary"))
    &::marker
      transition: color $transition
    &:not(:hover)::marker
      color: color.change($color, $alpha: 0.4)

  &::selection, & > :not(.Box)::selection, & > :not(.Box) *::selection
    background-color: color.change($color, $alpha: 0.4)

  //
    @keyframes #{$keyframe}
      $hi: 60%
      $lo: 40%
      0%
        border-image-source: radial-gradient(ellipse at 50% 50%, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
      15%
        border-image-source: radial-gradient(ellipse at $lo $lo, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
      20%
        border-image-source: radial-gradient(ellipse at $lo 50%, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
      25%
        border-image-source: radial-gradient(ellipse at $lo $hi, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
      30%
        border-image-source: radial-gradient(ellipse at 50% $hi, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
      35%
        border-image-source: radial-gradient(ellipse at $hi $hi, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
      40%
        border-image-source: radial-gradient(ellipse at $hi 50%, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
      45%
        border-image-source: radial-gradient(ellipse at $hi $lo, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
      50%
        border-image-source: radial-gradient(ellipse at 50% $lo, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
      55%
        border-image-source: radial-gradient(ellipse at $lo $lo, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))
      70%
        border-image-source: radial-gradient(ellipse at 50% 50%, color.change($color, $alpha: 1.0, $hue: -20deg), color.change($color, $alpha: 0.8))


.Note
  @include Box(#d350fe)

.Bonus
  @include Box(#e86db7)

.Key_Idea
  @include Box(#fab30e)

.Warning
  @include Box(#fe7a29)

.Error
  @include Box(#ff004d)

.Details
  @include Box(#2372ff)

.Example
  @include Box(#1dca24)


.sourceCode.invalid code
  outline: 1px solid #ff004d99

// Code colors
code span.kw, code.kw, pre.kw > code
  /* Keyword */
  color: #cf2a8f
  @if $light
    color: #810551
code span.st, code.st, pre.st > code
  /* String */
  color: goldenrod
  @if $light
    color: #d89102
code span.sc, code.sc, pre.sc > code
  /* SpecialChar */
  color: yellow
  @if $light
    color: #ff6c00
code span.ss, code.ss, pre.ss > code
  /* SpecialString */
  color: yellow
  @if $light
    color: #b84304
code span.dt, code.dt, pre.dt > code
  /* DataType */
  color: #db74b9
  @if $light
    color: #f809a9
code span.ot, code.ot, pre.ot > code
  /* Other */
  color: #acd4e4
  @if $light
    color: #03a0df
code span.op, code.op, pre.op > code
  /* Operator */
  color: #f97d7d
  @if $light
    color: #f44444
code span.ch, code.ch, pre.ch > code
  /* Char */
  color: #049b0a
code span.fu, code.fu, pre.fu > code
  /* Function */
  color: #ff9358
  @if $light
    color: #3714bc
code span.al, code.al, pre.al > code
  /* Alert */
  color: #ffff00
  @if $light
    color: #f09811
code span.an, code.an, pre.an > code
  /* Annotation */
  color: #0066ff
  font-weight: 500
  font-style: italic
code span.at, code.at, pre.at > code
  /* Attribute */
  color: inherit
code span.bn, code.bn, pre.bn > code
  /* BaseN */
  color: #44aa43
code span.bu, code.bu, pre.bu > code
  /* BuiltIn */
  color: inherit
code span.cf, code.cf, pre.cf > code
  /* ControlFlow */
  color: #43a8ed
  font-weight: 500
code span.cn, code.cn, pre.cn > code
  /* Constant */
  color: inherit
code span.co, code.co, pre.co > code
  /* Comment */
  color: #27c856
  font-style: italic
  @if $light
    color: #20ab00
code span.do, code.do, pre.do > code
  /* Documentation */
  color: #0066ff
  font-style: italic
code span.dv, code.dv, pre.dv > code
  /* DecVal */
  color: #44aa43
  @if $light
    color: #118d10
code span.er, code.er, pre.er > code
  /* Error */
  @if not $light
    color: #ffff00
  @else
    color: #fe440a
  font-weight: 500
code span.ex, code.ex, pre.ex > code
  /* Extension */
  color: inherit
code span.fl, code.fl, pre.fl > code
  /* Float */
  color: #44aa43
code span.im, code.im, pre.im > code
  /* Import */
  color: #7f2db9
code span.in, code.in, pre.in > code
  /* Information */
  color: #0066ff
  font-weight: 500
code span.pp, code.pp, pre.pp > code
  /* Preprocessor */
  font-weight: 500
code span.va, code.va, pre.va > code
  /* Variable */
  /* color: inherit */
  color: #44aa43
code span.vs, code.vs, pre.vs > code
  /* VerbatimString */
  color: #049b0a
code span.wa, code.wa, pre.wa > code
  /* Warning */
  color: #ffff00
  @if $light
    color: #f09811
  font-weight: 500



svg.kgt
  rect, line, path
    stroke: $text
  path.arrow, text
    fill: $text

.parse-table > thead > tr > th:not(:first-child), .parse-table tr > th:first-child
  background: $background


table:not(.data-table)
  caption
    margin: 4px
  border-collapse: collapse
  & tbody, & td, & tfoot th
    border: 1px solid color.adjust($text, $alpha: -0.65)
    padding: 8px 10px
    transition: border-bottom-color 0.2s
  & td:hover
    border-bottom-color: color.adjust($text, $alpha: -0.2)
  & > thead, & > tr:first-child
    & th
      padding: 10px 10px
    & th
      border-top: 1px solid color.adjust($text, $alpha: -0.85)
      border-left: 1px solid color.adjust($text, $alpha: -0.85)
      border-right: 1px solid color.adjust($text, $alpha: -0.85)
      transition: border-top-color 0.2s
    & th:hover
      border-top-color: color.adjust($text, $alpha: -0.2)
