@use "variables.sass" as *

body, .mord.text
  @if $sans
    font-family: 'Fira Sans GR', 'Mulish', 'Apple Color Emoji'
  @else
    font-family: 'EB Garamond GR', 'Cormorant', 'Apple Color Emoji'

pre, code, .code, .meta-code, .input-wrapper > input.code, .input-wrapper > input.meta-code
  font-family: 'Fira Code', 'Hasklig', monospace
  // font-feature-settings: 'cv20' 1
.sourceCode[data-lang="PureScript"]
  pre, code
    font-feature-settings: 'cv20' 1
.sourceCode[data-lang="tmTTmt"]
  pre, code
    font-feature-settings: 'cv20' 1, 'cv21' 1


@import url('../assets/fonts/fira_code.css')
@import url('../assets/fonts/Cormorant.css')
@import url('../assets/fonts/Tengwar.css')

@import url('../assets/fonts/google/Oswald.css')
@import url('../assets/fonts/google/Sofia.css')
@import url('../assets/fonts/google/Amaranth.css')
@if $sans
  @import url('../assets/fonts/google/Mulish.css')

@if not $sans
  @import url('../assets/fonts/google/EB_Garamond_GR.css')
@else
  @import url('../assets/fonts/google/Fira_Sans_GR.css')

