@use "colors.sass"
@use "variables.sass" as *

$font-size: 18px
$main-font-size: $font-size
$code-font-size: calc(15*$main-font-size/18)

// Basic font sizes and weights
body
  font-size: $font-size
  @if not $sans
    font-weight: 500

header .author
  font-family: 'Cormorant Upright'
  font-size: 20px

header .subtitle
  font-weight: 300
  font-style: italic
  font-size: 28px

strong
  @if not $sans
    text-decoration: underline

code
  font-size: 0.75em
  font-weight: 300
  hyphens: none
.sidenote code
  font-size: 0.75em

mjx-container[jax="CHTML"], .katex, span.katex
  font-size: 1em !important
  @if $sans
    font-size: 1.14em !important
  overflow-y: hidden
  -webkit-font-smoothing: antialiased

// Fix bug where inline KaTeX wants to wrap on either side, even if there is
// punctuation there.
.katex .base
  display: inline

section p, section li
  @if not $light
    text-shadow: 1px 1px 1px #0000005e
    & .icon > svg
      filter: drop-shadow(2px 2px 2px #0000005e)
  @else
    text-shadow: none

  font-feature-settings: "ss02" 1
  line-height: 1.4

section li
  margin-bottom: 0.5em
ul.compact li
  margin: 0


p
  text-align: justify
  hyphens: auto
p, li
  font-variant-numeric: lining-nums
li::marker
  font-variant-numeric: oldstyle-nums

//
  header ~ section > p:first-child, h1 + p, h2 + p
    &:not(.author)::first-letter
      font-size: 1.4em
      line-height: 1
      font-weight: 200

// Headings
h1
  text-align: center
  font-size: 45px
  font-weight: 700
  font-weight: 300
  @if not $light
    text-shadow: 2px 2px 2px #000000b3
    & .icon > svg
      filter: drop-shadow(2px 2px 2px #000000b3)
  @else
    text-shadow: none

  font-feature-settings: "ss01" 1
  /*
    background-color: #f1ede2;
    color: #f0e8d412;
    text-shadow: 0px 2px 3px #3a383375;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    */

h2, h3, h4, h5
  font-weight: 500
  @if not $light
    text-shadow: 2px 2px 2px #000000b3
    & .icon > svg
      filter: drop-shadow(2px 2px 2px #000000b3)
  @else
    text-shadow: none

  font-feature-settings: "ss01" 1

h2
  text-align: center
  font-size: 34px
  margin-top: 2em
  margin-bottom: 1em
  font-weight: 500

h3
  font-size: 30px
  border-bottom-width: 1px
  border-bottom-style: solid
  line-height: 0.9

h4
  font-size: 26px
  font-family: 'Cormorant Upright'

h5
  font-size: 22px
  font-style: italic
  text-shadow: none
  font-weight: 700

h5 em
  font-style: normal




span.smallcaps
  font-variant: small-caps

span.underline
  text-decoration: underline

.nowrap
  white-space: nowrap


a[href]
  @if not $light
    color: #3feef0

  color: #35d62d
  text-decoration-line: initial
  text-decoration-style: solid
  text-decoration-thickness: 1px
  .sidenote > &
    text-decoration-thickness: 0.5px

  text-underline-offset: 1px
  &[href^="#"]:not([aria-hidden])::before
    p &, ol li &, ul li &
      section > &, section > div > &
        // thin-space
        content: "§\200A"

  // &[href^="https://en.wikipedia.org/"]
  //   &::before
  //     content: "W"
  //     display: inline-block
  //     font-size: 60%
  //     line-height: 1
  //     color: colors.$stark
  //     // opacity: 0.5
  //     margin-right: 0.3em
  //     text-decoration: none !important
  //     border-bottom: 1px dotted #35d62d
  //     border-left: 1px dotted #35d62d
  //     padding-left: 2px

  // &[href^="https://ncatlab.org/"]
  //   &::before
  //     content: "n"
  //     font-style: italic
  //     display: inline-block
  //     font-size: 85%
  //     line-height: 0.8
  //     color: colors.$stark
  //     // opacity: 0.5
  //     margin-right: 0.3em
  //     text-decoration: none !important
  //     border-bottom: 1px dotted #35d62d
  //     border-left: 1px dotted #35d62d
  //     padding-left: 2px

a[href]:hover, a[href]:active
  text-decoration-line: underline

a[href]:visited
  color: #22c79a

.visible-space
  position: relative
  &::before
    position: absolute
    top: 0
    color: #509e9e99
    text-shadow: none
    pointer-events: none

.visible-space[data-whitespace="0x20"]::before
  content: "·"
  transform: scale(0.8)
  opacity: 0.4


.visible-space[data-whitespace="0xa"]::before
  content: "¶"
  transform: scale(0.7)
  opacity: 0.3

.visible-space[data-whitespace="0x9"]::before
  content: "⇥"
  font-family: "Libertinus Serif"
  transform: scaleX(1)
  opacity: 0.3

.no-visible-space
  .visible-space::before
    content: ""

.st .visible-space::before
  color: inherit

.co .visible-space::before
  content: initial

pre > code .visible-space[data-whitespace]::before
  top: -0.2ex

.dated, .date
  font-variant-numeric: oldstyle-nums
  &::before, &::after
    content: " ~ "
.dated
  float: right
  font-style: italic
